{% extends 'news/base.html' %}

{% load static %}

{% block title %}Parolni tiklash{% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolni tiklash uchun quyidagi formani to'ldiring.</p>
    {% if validlink %}
    <p>Iltimos yangi parolni ikki marotaba kiriting</p>
    <form method="post">{% csrf_token %}
        {{form.as_p}}
        <p><button type="submit" style="color:black">Parolni almashtirish</button></p>
    </form>
    {% else %}
    <p>Siz noto'g'ri linkdan foydalandingiz. Bu parol oldin ishlatilgan yoki ishlatilish vaqti o'tib ketgan bo'lishi mumkin.</p>
    {% endif %}
{% endblock content %}